<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: base_header(${title},~{::link})">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/js/app.js}">
</head>
<body>

	<div th:replace="layout :: header"></div>

	<main>
		<section id="register_confirm">
			<div class="py-4 container">
				<div>
					<h4 class="fw-light mb-2">表示エラー</h4>
					<p th:if="${param.login_required}">ログインし直してく ださい。</p>
					<p>
						<a class="lead text-muted" href="#" th:href="@{/index}">TOPへ</a> <a
							class="lead text-muted" href="#" th:href="@{/login}">ログイン画面へ</a>
					</p>
				</div>

				<!-- 			
			<div th:if="${param.loggedin_already}">
				<p>既にログインしています。</p>
				<p><a class="lead text-muted" href="#" th:href="@{/logout}">ログアウト</a></p>
				<a href="#" th:href="@{/mypage/{userName}(userName=${loginForm.userName})}">マイページへ</a>
				
			</div>
			 -->

			</div>
		</section>
	</main>

	<div th:replace="layout :: footer"></div>

</body>
</html>