<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: base_header(${title},~{::link})">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/js/app.js}">
</head>
<body>
<div th:replace="layout :: header"></div>
<main>
	<section id="register_confirm">
		<div class="py-4 container">

			<div th:if="${param.noPage}"> 
				<p>お探しのページが存在しません。</p>
			</div>
	
			<div th:if="${param.loggedin_already}">
				<p>既にログインしています。</p>
				<a href="#" th:href="@{/mypage/{userName}(userName=${loginForm.userName})}">マイページへ</a>
				<a href="#" th:href="@{/logout}">ログアウト</a>
			</div>

		</div>
	</section>
</main>

<div th:replace="layout :: footer"></div>

</body>
</html>