<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="layout :: base_header(${title},~{::link})">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/js/app.js}">
</head>
<body>
<div th:replace="layout :: header"></div>

<main class="container" id="index">
	<div class="bg-light p-5 rounded">
	
	<h1 class="fw-light" th:text="${title}"></h1>
	<p th:text="${loginForm.pass}"></p>

	<p class="alert alert-primary" th:if="${param.logout}">
	 	ログアウトが完了しました。
	</p>

	<a class="btn btn-lg btn-primary mb-2" href="#" th:href="@{/login}" role="button">ログイン</a>
	<a class="btn btn-lg btn-primary mb-2" href="#" th:href="@{/register}" role="button">アカウント登録</a>
	</div>
</main>

<div th:replace="layout :: footer"></div>

</body>
</html>
