<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: base_header(${title},~{::link})">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/js/app.js}">
</head>
<body>
	<div th:replace="layout :: header"></div>
	<main>
		<section>
			<div class="py-4 container">

				<h3 class="fw-light">ペット削除確認</h3>

				<form method="POST" th:action="@{/pet_delete_complete}"
					name="petForm" th:object="${petForm}">

					<p class="lead text-muted">
						本当に
						<th:block th:text="*{petName}"></th:block>
						ちゃんを削除してもよろしいですか？<br> 削除すると
						<th:block th:text="*{petName}"></th:block>
						ちゃんの成長記録も全て削除されます。
					</p>

					<div>
						<input type="hidden" name="petId" th:value="*{petId}"> <input
							type="hidden" name="petName" th:value="*{petName}"> <input
							type="hidden" name="kind" th:value="*{kind}"> <input
							type="hidden" name="gender" th:value="*{gender}"> <input
							type="hidden" name="petIcon" th:value="*{petIcon}"> <input
							type="hidden" name="userId" th:value="*{userId}">
						<button class="w-100 btn btn-primary btn-lg" type="submit">削除</button>
					</div>

				</form>
				
				<a href="#" class="btn btn-sm btn-outline-secondary mt-2 me-1 w-100"
					th:href="@{/mypage/{userName}(userName=${loginForm.userName})}">
					マイページに戻る</a>

			</div>
		</section>
	</main>

	<div th:replace="layout :: footer"></div>

</body>
</html>