<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: base_header(${title},~{::link})">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/js/app.js}">
</head>
<body>
	<div th:replace="layout :: header"></div>

	<main>
		<section id="pet_confirm">
			<div class="py-4 container">

				<h1 class="fw-light">入力内容確認</h1>

				<table class="table" th:object="${petForm}">
					<tbody>
						<tr>
							<th scope="row">お名前</th>
							<td th:text="*{petName}">ペット名を表示</td>
						</tr>
						<tr>
							<th scope="row">種類</th>
							<td th:text="*{kind}">パスワードを表示</td>
						</tr>
						<tr>
							<th scope="row">性別</th>
							<td>
								<th:block th:if="*{gender==0}">
									指定なし
								</th:block> 
								<th:block th:if="*{gender==1}">
									♂
								</th:block> 
								<th:block th:if="*{gender==2}">
									♀
								</th:block></td>
						</tr>
						<tr>
							<th scope="row">写真</th>
							<td>
								<img class="img-in-table" th:src="@{*{petIcon}}" alt="ペット写真">
							</td>
						</tr>
					</tbody>
				</table>
				
				<form th:action="@{/pet_add}" th:object="${petForm}" method="post" name="petForm">
					<div>
						<input type="hidden" name="petName" th:value="*{petName}">
						<input type="hidden" name="kind" th:value="*{kind}"> 
						<input type="hidden" th:field="*{gender}" name="gender">
						<input type="hidden" th:field="*{petIcon}" name="gender">
						<input type="hidden" name="userId" th:value="${loginForm.userId}">
						<button class="w-100 btn btn-primary btn-lg" type="submit">修正</button>
					</div>
				</form>

				<form th:action="@{/pet_complete}" th:object="${petForm}" method="post" name="petForm">
					<div>
						<input type="hidden" name="petName" th:value="*{petName}">
						<input type="hidden" name="kind" th:value="*{kind}"> 
						<input type="hidden" th:field="*{gender}" name="gender">
						<input type="hidden" th:field="*{petIcon}" name="gender">
						<input type="hidden" name="userId" th:value="${loginForm.userId}">
						<button class="w-100 btn btn-primary btn-lg" type="submit">確定</button>
					</div>
				</form>

			</div>
		</section>
	</main>

	<div th:replace="layout :: footer"></div>

</body>
</html>