<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: base_header(${title},~{::link})">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/js/app.js}">
</head>
<body>
	<div th:replace="layout :: header"></div>
	<main>
		<section>
			<div class="py-4 container">

				<form method="POST" th:action="@{/record_delete_complete}"
					name="recForm" th:object="${recForm}">

					<h3 class="fw-light">成長記録削除確認</h3>	

					<p class="lead text-muted">
						本当に
						<th:block th:text="*{petName}"></th:block>
						ちゃんの、以下のの記録を削除してもよろしいですか？
					</p>
					
					<div>
						<input type="hidden" name="recId" th:value="*{recId}">
						<button class="w-100 btn btn-primary btn-lg" type="submit">削除</button>
					</div>
					
					<a href="#" class="btn btn-sm btn-outline-secondary mt-2 me-1 w-100"
						th:href="@{/mypage/{userName}(userName=${loginForm.userName})}">
						マイページに戻る</a>
						
					<div class="card shadow-sm mt-4">		
						<div class="card-body">
							<p class="card-text" th:text="*{recDate}">投稿日時表示</p>
							<p class="card-text" th:text="*{comment}">成長記録表示</p>
							<img th:unless="*{#strings.isEmpty(recPic)}" 
								th:src="@{*{recPic}}" 
								class="bd-placeholder-img card-img-top mt-3"
								 alt="成長記録写真">
						</div><!-- end of card-body  -->
					</div><!-- endo of shadow-sm -->

				</form>

			</div>
		</section>
	</main>

	<div th:replace="layout :: footer"></div>

</body>
</html>