<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: base_header(${title},~{::link})">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/js/app.js}">
</head>
<body>
<div th:replace="layout :: header"></div>

<main>
	<section id="register_confirm">
		<div class="py-4 container">

			<h1 class="fw-light">入力内容確認</h1>
			
			<p th:if="${userNameHasError}" class="alert alert-danger mt-4">
		 	入力されたユーザー名は既に使用されています。<br>
		 	修正ボタンで戻り、別のユーザー名を入力してください。</p>
			 
			<table class="table" th:object="${accountForm}">
			  <tbody>
			    <tr>
			      <th scope="row">ユーザー名</th>
			      <td th:text="*{userName}">ユーザー名を表示</td>
			    </tr>
			    <tr>
			      <th scope="row">パスワード</th>
			      <td th:text="*{pass}">パスワードを表示</td>
			    </tr>
			    <tr>
			      <th scope="row">アイコン画像</th>
			      <td><img class="img-in-table" th:src="@{*{icon}}" alt="アイコン画像"></td>
			    </tr>
			    <tr>
			      <th scope="row">自己紹介</th>
			      <td th:text="*{intro}">自己紹介を表示</td>
			    </tr>

			  </tbody>
			</table>

			<form th:action="@{/register}" method="POST" name="accountForm" th:object="${accountForm}">
				<input type="hidden" name="userName" th:value="*{userName}">
				<input type="hidden" name="pass" th:value="*{pass}">
				<input type="hidden" name="icon" th:value="*{icon}">
				<input type="hidden" name="intro" th:value="*{intro}">
				<button type="submit" class="btn btn-sm btn-outline-secondary mt-2 me-1 w-100">
					修正</button>
			 </form>

			 <form th:unless="${userNameHasError}"
			  th:action="@{/register_complete}" method="POST" name="accountForm" th:object="${accountForm}">
			 <!-- ユーザー名重複がなければ確定ボタンを表示 -->
				<input type="hidden" name="userName" th:value="*{userName}">
				<input type="hidden" name="pass" th:value="*{pass}">
				<input type="hidden" name="icon" th:value="*{icon}">
				<input type="hidden" name="intro" th:value="*{intro}">
				<button type="submit" class="w-100 btn btn-primary btn-lg mt-2">
					確定</button>
			 </form>
 
</div>
</section>
</main>

<div th:replace="layout :: footer"></div>

</body>
</html>